
<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
# The following line loads the SQL extension for Jupyter Notebook
%load_ext sql

In [ ]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'
con = sqlite3.connect("my_data1.db")
cur = con.cursor()
import pandas as pd

In [ ]:
# Cargar la extensión SQL para usar comandos SQL directamente en el notebook
%load_ext sql

In [ ]:
# Establish a connection to the SQLite database using the SQL magic command
%sql sqlite:///my_data1.db

In [ ]:

# Load the SpaceX dataset from the provided URL into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Save the DataFrame to a SQL table named "SPACEXTBL" in the SQLite database
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [ ]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

In [ ]:
# Crear una nueva tabla llamada SPACEXTABLE a partir de la tabla SPACEXTBL
# Filtrar los registros donde la columna Date no sea nula
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

## Tareas

Ahora escribe y ejecuta consultas SQL para resolver las tareas de la asignación.

**Nota: Si los nombres de las columnas están en mayúsculas y minúsculas, enciérralos entre comillas dobles.
	Por ejemplo: "Landing_Outcome"**

### Tarea 1

##### Muestra los nombres de los sitios de lanzamiento únicos en la misión espacial.

In [51]:
%%sql
SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [47]:

%%sql
SELECT * FROM SPACEXTABLE  WHERE "Launch_Site" LIKE 'CCA%' LIMIT(5);

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [242]:
%%sql

SELECT SUM(PAYLOAD_MASS__KG_) AS 'TOTAL PAYLOAD MASS' 
FROM SPACEXTABLE 
WHERE "Customer" = 'NASA (CRS)' ;

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [56]:
%%sql
SELECT AVG(PAYLOAD_MASS__KG_) AS 'AVG_PAYLOAD_MASS' 
FROM SPACEXTABLE 
WHERE "Booster_Version" = 'F9 v1.1' ;

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [71]:
%%sql
SELECT min(Date) AS first_success_ground_landing
FROM SPACEXTABLE  
WHERE `Landing_Outcome` = "Success (ground pad)"
;

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [87]:
%%sql
SELECT Booster_Version,`PAYLOAD_MASS__KG_`
FROM SPACEXTABLE  
WHERE `Landing_Outcome` = "Success (drone ship)" and `PAYLOAD_MASS__KG_` BETWEEN 4000 AND 6000
;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 4696),
 ('F9 FT B1026', 4600),
 ('F9 FT  B1021.2', 5300),
 ('F9 FT  B1031.2', 5200)]

### Task 7




##### List the total number of successful and failure mission outcomes

Opcion 1

In [150]:
%%sql
SELECT Mission_Outcome,COUNT(Mission_Outcome) AS "Total Outocme" 
FROM SPACEXTABLE

GROUP BY Mission_Outcome;

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

Opcion 2

In [163]:
%%sql
-- Seleccionamos dos columnas para mostrar el resultado: una con la categoría del 
-- resultado de la misión y otra con el total de registros para cada categoría.
SELECT
    -- La cláusula CASE evalúa el contenido de la columna Mission_Outcome.
    -- Si el valor comienza con 'Success' (por ejemplo, 'Success' o 'Success (payload status unclear)'),
    -- entonces asigna el texto 'Successful'; de lo contrario, asigna 'Failure'.
    CASE 
        WHEN Mission_Outcome LIKE 'Success%' THEN 'Successful'
        ELSE 'Failure'
    END AS Outcome_Category,  -- Alias para la columna resultante de la evaluación, indicando la categoría del resultado.
    
    -- Se utiliza COUNT(*) para contar el número total de registros (misiones) que corresponden a cada categoría.
    COUNT(*) AS Total_Outcomes  -- Alias para mostrar el total de misiones en cada categoría.
    
-- Se indica la tabla de origen de los datos, en este caso "SPACEXTABLE".
FROM SPACEXTABLE

-- Agrupa los registros según el valor asignado en la columna Outcome_Category.
GROUP BY Outcome_Category;

 * sqlite:///my_data1.db
Done.

[('Failure', 1), ('Successful', 100)]

Opcion3

In [173]:
%%sql

-- Primera consulta: selecciona y cuenta todas las misiones cuyo resultado comienza con 'Success'.
-- Se utiliza LIKE 'Success%' para capturar cualquier variación como 'Success', 'Success (payload status unclear)', etc.
-- Se asigna el valor fijo 'Successful' a la columna Outcome_Category para etiquetar este grupo.
-- COUNT(*) cuenta cuántas filas cumplen esta condición.
SELECT 'Successful' AS Outcome_Category, COUNT(*) AS Total_Outcomes
FROM SPACEXTABLE
WHERE Mission_Outcome LIKE 'Success%'

UNION ALL

-- Segunda consulta: selecciona y cuenta todas las misiones cuyo resultado NO comienza con 'Success'.
-- Esto incluye cualquier tipo de fallo o resultado ambiguo que no empiece con 'Success'.
-- Se asigna el valor fijo 'Failure' a la columna Outcome_Category para etiquetar este grupo.
-- COUNT(*) cuenta cuántas filas cumplen esta condición.
SELECT 'Failure' AS Outcome_Category, COUNT(*) AS Total_Outcomes
FROM SPACEXTABLE
WHERE Mission_Outcome NOT LIKE 'Success%';

 * sqlite:///my_data1.db
Done.

[('Successful', 100), ('Failure', 1)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [184]:
%%sql

-- Seleccionas las columnas que quieres mostrar: la versión del booster y la masa de la carga
SELECT Booster_Version, PAYLOAD_MASS__KG_
FROM SPACEXTABLE

-- Aquí filtras solo aquellas filas donde la masa de la carga sea igual al valor máximo
-- Este valor máximo lo obtienes con una subconsulta (¡tal como te pedían!)
WHERE PAYLOAD_MASS__KG_ = (
    SELECT MAX(PAYLOAD_MASS__KG_) 
    FROM SPACEXTABLE
);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [203]:
%%sql

-- Seleccionamos las columnas solicitadas: resultado del aterrizaje, versión del booster, lugar de lanzamiento.
-- También extraemos el mes (como texto '01', '02', etc.) y el año desde la columna Date.
SELECT 
    Landing_Outcome,                      -- Resultado del aterrizaje
    Booster_Version,                      -- Versión del cohete
    Launch_Site,                          -- Sitio de lanzamiento
    substr(Date,6,2) AS Month,            -- Extrae el mes de la fecha (posiciones 6 y 7 del texto de fecha)
    substr(Date,0,5) AS Year              -- Extrae el año de la fecha (posiciones 1 a 4)

FROM SPACEXTABLE

-- Filtramos solo las filas del año 2015
-- Y aquellas donde el resultado del aterrizaje fue un fallo en el dron ship
WHERE 
    substr(Date,0,5) = '2015' 
    AND Landing_Outcome = 'Failure (drone ship)'
    
ORDER BY DATE DESC
    
;

 * sqlite:///my_data1.db
Done.

[('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40', '04', '2015'),
 ('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40', '01', '2015')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [239]:
%%sql

-- Seleccionamos el resultado del aterrizaje y contamos cuántas veces aparece cada uno
SELECT
    Landing_Outcome,                         -- Tipo de resultado del aterrizaje (por ejemplo: éxito o fallo)
    COUNT(*) AS 'Total Outcome'              -- Conteo total de cada tipo de resultado

FROM SPACEXTABLE                             -- Desde la tabla de SpaceX

-- Filtros aplicados a los datos
WHERE 
    substr(Date, 0, 10) BETWEEN '2010-06-04' AND '2017-03-20'  -- Solo fechas entre 2010-06-04 y 2017-03-20
    AND (Landing_Outcome = 'Failure (drone ship)'              -- Solo fallos en el dron ship
         OR Landing_Outcome = 'Success (ground pad)')          -- O éxitos en la plataforma terrestre

-- Agrupamos los datos por tipo de resultado de aterrizaje para contar cuántas veces ocurrió cada uno
GROUP BY Landing_Outcome

-- Ordenamos los resultados en orden descendente según el conteo total (más comunes primero)
ORDER BY `Total Outcome` DESC;

 * sqlite:///my_data1.db
Done.

[('Failure (drone ship)', 5), ('Success (ground pad)', 3)]

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>